<header>
  <div class="wrapper"s>
    <h1>
      <a href="#">
        <img src="../assets/images/logos/logo.png" alt="Genial Investimentos">
      </a>
    </h1>

    <div>
      <span>Atendimento SP (11) 2137-8191 | RJ (21) 2169-9950 | RS (51) 2169-9950</span>
      <button id="login">Login</button>

      <div [class.aberto]="menu" class="menu-desktop">
        <button (click)="toggleMenu()">☰</button>

        <nav>
          <ul>
            <li>
              <a href="#quem-somos">Quem somos</a>
            </li>
            <li>
              <a href="#servicos">Serviços</a>
            </li>
            <li>
              <a href="#contato">Contato</a>
            </li>
            <li>
              <a href="#">Abra sua conta</a>
            </li>
          </ul>
        </nav>

        <nav class="nav-desktop">
          <ul>
            <li>
              <a href="#quem-somos">Quem somos</a>
            </li>
            <li>
              <a href="#servicos">Serviços</a>
            </li>
            <li>
              <a href="#contato">Contato</a>
            </li>
            <li>
              <a href="#login">Login</a>
            </li>
            <li>
              <a href="#">Abra sua conta</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<div>
  <app-banner></app-banner>

  <app-quem-somos></app-quem-somos>

  <app-lista-servicos></app-lista-servicos>

  <app-contato></app-contato>

</div>

<footer>
  <section class="destaque">
    <div class="wrapper">
      <ul>
        <li>
          <a href="#">
            <img src="../assets/images/logos/geracao-futuro.png" alt="Geração Futuro">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../assets/images/logos/genial.png" alt="Genial investimentos">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../assets/images/logos/genial-seguros.png" alt="Genial Seguros">
          </a>
        </li>
      </ul>

      <ul>
        <li>
          <a href="https://facebook.com/genialinvestimentos">
            <img src="../assets/images/logos/facebook.png" alt="Facebook">
          </a>
        </li>
        <li>
          <a href="https://twitter.com/genialinveste">
            <img src="../assets/images/logos/twitter.png" alt="Twitter">
          </a>
        </li>
        <li>
          <a href="https://instagram.com/genialinvestimentos">
            <img src="../assets/images/logos/instagram.png" alt="Instagram">
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/24430508/">
            <img src="../assets/images/logos/linkedin.png" alt="Linkedin">
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/user/corretoragf">
            <img src="../assets/images/logos/youtube.png" alt="Youtube">
          </a>
        </li>
      </ul>

    </div>
  </section>
  <section class="footer-destaque">
    <div class="rodape-destaque">
      <div class="wrapper">
        <ul>
          <li>
            <a href="#">Legislação e regras</a>
          </li>
          <li>
            <a href="#">Termos de uso e risco</a>
          </li>
          <li>
            <a href="#">Política de privacidade</a>
          </li>
          <li>
            <a href="#">Balanços</a>
          </li>
          <li>
            <a href="#">Agente autônomo</a>
          </li>
          <li>
            <a href="#">Regime de atuação dos AAI</a>
          </li>
          <li>
            <a href="#">Relatório de pessoa vinculada</a>
          </li>
          <li>
            <a href="#">Fatos relevantes</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="wrapper rodape">
      <ul>
        <li>
          <a href="">BM&F Bovespa</a>
        </li>
        <li>
          <a href="">BSM</a>
        </li>
        <li>
          <a href="">CVM</a>
        </li>
        <li>
          <a href="">ANBIMA</a>
        </li>
        <li>
          <a href="">CETIP</a>
        </li>
        <li>
          <a href="">Banco Central</a>
        </li>
        <li>
          <img src="../assets/images/qualificacao.jpg" alt="Qualificação">
          <img src="../assets/images/anbima.jpg" alt="Anbima">
        </li>
      </ul>

        <p>Toda comunicação através da rede mundial de computadores está sujeita a interrupções, podendo invalidar ordens ou negociações. A corretora exime-se de responsabilidade por danos sofridos por seus clientes, por força de falha de serviços realizados por terceiros, incluindo, sem limitação, aqueles conexos à rede mundial de computadores.</p>

        <p>Ao investidor é recomendada a leitura cuidadosa do prospecto e do regulamento do fundo de investimento ao aplicar seus recursos. As matérias jornalísticas, vídeos, opiniões de economistas e/ou consultores, conteúdos produzidos nos fóruns de discurssão, entre outras informações e/ou dados disponibilizados a partir dos sistermas eletrônicos da genial são de caráter meramente informativo. Tais conteúdos foram elaborados de acordo com o contexto e conjuntura do momento de sua produção, não podendo ser consideradas como recomendações ou ofertas de qualquer natureza. Alguns fundos, apresentados nos sistemas eletrônicos da genial podem utilizar estratégias com derivativos como parte integrante de sua política de investimento. Tais estratégias, da forma como são adotadas, podem resultar em significativas perdas patrimoniais para seua cotistas, podendo inclusive acarretar perdas superiores ao capital aplicado e a consequente obrigação do cotista de aportar recursos adicionais para cobrir o prejuízo do fundo. Alguns fundos apresentados nos sistemas eletrônicos da genial podem alocar parte de seus recursos em fundos que mantenham em sua carteira ativos financeiros negociados no exterior, bem como realizar aplicações em ativos financeiros no exterior, nos limites previstos na instrução cvm 555, de 17 de dezembro de 2014 e suas posteriores alterações. A rentabilidade obtida no passado não representa garantia de rentabilidade futura. Fundos de investimento não contam com garantia do administrador do fundo, do gestor da carteira, de qualquer mecanismo de seguro ou, ainda, do fundo garantidor de créditos/fgc. Geração futuro corretora de valores s/a é uma instituição autorizada a funcionar pelo banco central do brasil. As comparações entre rentabilidades e indicadores econômicos disponíveis neste site tratam-se de mera referência econômica, e não necessariamente meta ou parâmetro de performance dos fundos. Os fundos possuem datas próprias e diferentes entre si de conversão de cotas, de pedido de desgate e de pagamentos de resgate, conforme seus respectivos regulamentos e prospectos. As taxas máximas de administração cobradas pelos fundos são decorrentes das aplicações que estes podem fazer em outros fundos de investimento. Não há garantia de que os fundos terão tratamento tributário para fundos de longe prazo, quando aplicável os produtos e serviços aqui mencionados podem não estar disponíveis em todas as jurisdições ou para determinadas categorias de investidores. A geração futuro corretora de valores ("Genial") ou os agentes autônomos de investimento à ela vinculados ("AAI Genial"), na qualidade de distribuidores de cotas de fundos de investimento, poderão receber remuneração em razão das aplicações efetuadas pelos clientes. Esta remuneração poderá ser diferenciada em função do fundo de investimento que recebe a aplicação. Morningstar@r. Todos os direitos reservados. Apenas para uso instituicional. A informaçõa aqui contida: (1)É propriedade da morningstar e/ou seus provedores de conteúdo, (2) não pode ser copiado ou distribuído, e (3) não é garantia de estar precisa, completas ou atualizadas. A morningstart nem os seus fornecedores de conteúdos são responsáveis por quaisquer danos ou perdas resultante de qualquer uso desta informação. A performance histórica não é garantia de resultados futuros. Veja a metodologia de cálculo. * O cliente genial tem acesso a um portal completo com notícias em tempo real, blog com informações de investimentos e consultoria financeira de mandeira gratuita através do gerador. As opoerações de home broker e demais atividades que figurem a intermediação de valores mobiliários estarão sujeitas a taxas de corretagem e/ou tarifas inerentes a</p>
      </div>
  </section>
</footer>
