@charset 'UTF-8';

// RESET stylesheet
// This stylesheet reset the default styles of all tag in all browsers
// This is a very hardcore reset, it meant to be =P
// Based on the work of Eric Meyer, Richard Clark and some personal experiences
// @see     http: //meyerweb.com/eric/tools/css/reset/
// @see     https: //code.google.com/p/html5resetcss/
// @version 2.2
html, body, main, article, nav, aside, section,
header, footer, address, div,
h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, dl, dt, dd,
hr, pre, figure, figcaption,
table, caption, thead, tbody, tfoot, tr, th, td, col, colgroup,
form, fieldset, legend, label, input, button, select, datalist,
optgroup, option, textarea, progress, meter,
img, iframe, embed, object, param, video, audio, source,
canvas, track, map, area, del, ins,
a, em, strong, i, b, u, s, small, abbr, q, cite, dfn, sub, sup,
time, code, kbd, samp, var, bdi, bdo, ruby, rt, rp, wbr,
mark, span, br {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;

}
:after,
:before {
  box-sizing: border-box;
}
button,
select,
textarea,
input {
  color: inherit;
  font-family: inherit;
  vertical-align:middle;
  max-width: 100%;
}
a {
  text-decoration: none;

  img,
  svg {
    display: block;
    border: none;
    max-width: 100%;
  }
}
img,
svg {
  max-width: 100%;
  border: none;
}
hr {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
}
:focus {
  outline: none;
}
[hidden] {
  display: none;
}
