<section class="wrapper" id="quem-somos">
  <h2>Quem somos</h2>

  <ul>
    <li>
      <img src="../assets/images/logos/seus-recursos.png" alt="Seus recursos">
      <h3>Seus recursos em boas mãos</h3>
      <p>Somos a Home Broker da <strong>Geração Futuro</strong>, corretora com mais de 20 anos de mercado que soma experiência em renda variável com o resultado consistentes, tecnologia e inovação.</p>
    </li>
    <li>
      <img src="../assets/images/logos/mercado.png" alt="Seus recursos">
      <h3>Mercado sem complicação</h3>
      <p>Acesso a notícias, cotações, análises ao vivo, fóruns com analistas e recomendações de compra e venda, além de ferramentas importantes para o investidor tomar as melhores decisões.</p>
    </li>
    <li>
      <img src="../assets/images/logos/invista.png" alt="Seus recursos">
      <h3>Invista de onde estiver</h3>
      <p>A praticidade do autosserviço com a tranquilidade do atendimento real. Nossas plataformas foram desenvolvidas para garantir agilidade e facilidade para investirde onde estiver.</p>
    </li>
  </ul>
</section>
