<section class="wrapper" id="contato">
  <h2>Contato</h2>

  <div class="informacoes-contato">
    <div class="form-contato">
      <h3>Envie-nos uma mensagem</h3>

      <form action="#">
        <input type="text" placeholder="Nome">
        <input type="email" placeholder="e-Mail">
        <input type="text" placeholder="DDD">
        <input type="text" placeholder="Telefone">
        <select name="" id="">
          <option value="">Estou com dúvidas</option>
        </select>
        <textarea cols="30" rows="10" maxlength="1000"></textarea>
        <button>Enviar</button>
      </form>
    </div>

    <div>
      <h3>Entre em contato com nossas equipes</h3>

      <nav>
        <ul>
          <li [class.active]="aba == 'SP'" (click)="aba = 'SP'">
            <a>SP</a>
          </li>
          <li [class.active]="aba == 'RJ'" (click)="aba = 'RJ'">
            <a >RJ</a>
          </li>
          <li [class.active]="aba == 'RS'" (click)="aba = 'RS'">
            <a >RS</a>
          </li>
          <li [class.active]="aba == 'Ouvidoria'" (click)="aba = 'Ouvidoria'">
            <a>Ouvidoria</a>
          </li>
        </ul>
      </nav>

      <div [ngSwitch]="aba">
        <div id="sp" class="detalhes-estados" *ngSwitchDefault>
          <h3>Unidade de São Paulo</h3>

          <div class="telefones-contatos">
            <div>
              <span><strong>Horário de atendimento:</strong><br>das 8H as 17h30</span>

              <button>Chat Online</button>
            </div>

            <div>
              <span><strong>Telefones</strong><br>(11) 2137-8191 | 3524-8191</span>

              <span><strong>Whatsapp</strong><br>(11)9.9999.9999</span>
            </div>
          </div>


          <div>
            <span><strong>Endereço:</strong></span>
            <span>Avenida Paulista, 1106 6º Andar - <br> Bela Vista - 01313-010 - SP</span>
            <span>100m do Metrô Trianon Masp</span>
          </div>
        </div>

        <div id="rj" class="detalhes-estados" *ngSwitchCase="'RJ'">
          <h3>Unidade de Rio de Janeiro</h3>

          <div class="telefones-contatos">
            <div>
              <span><strong>Horário de atendimento:</strong><br>das 8H as 17h30</span>

              <button>Chat Online</button>
            </div>

            <div>
              <span><strong>Telefones</strong><br>(21) 2137-8191 | 3524-8191</span>

              <span><strong>Whatsapp</strong><br>(21)9.9999.9999</span>
            </div>
          </div>


          <div>
            <span><strong>Endereço:</strong></span>
            <span>Avenida Paulista, 1106 6º Andar - <br> Bela Vista - 01313-010 - SP</span>
            <span>100m do Metrô Trianon Masp</span>
          </div>
        </div>

        <div id="rs" class="detalhes-estados" *ngSwitchCase="'RS'">
          <h3>Unidade de Rio Grande do Sul</h3>

          <div class="telefones-contatos">
            <div>
              <span><strong>Horário de atendimento:</strong><br>das 8H as 17h30</span>

              <button>Chat Online</button>
            </div>

            <div>
              <span><strong>Telefones</strong><br>(35) 2137-8191 | 3524-8191</span>

              <span><strong>Whatsapp</strong><br>(35)9.9999.9999</span>
            </div>
          </div>


          <div>
            <span><strong>Endereço:</strong></span>
            <span>Avenida Paulista, 1106 6º Andar - <br> Bela Vista - 01313-010 - SP</span>
            <span>100m do Metrô Trianon Masp</span>
          </div>
        </div>

        <div id="rs" class="detalhes-estados" *ngSwitchCase="'Ouvidoria'">
            <h3>Ouvidoria</h3>

            <div class="telefones-contatos">
              <div>
                <span><strong>Horário de atendimento:</strong><br>das 8H as 17h30</span>

                <button>Chat Online</button>
              </div>

              <div>
                <span><strong>Telefones</strong><br>(14) 2137-8191 | 3524-8191</span>

                <span><strong>Whatsapp</strong><br>(14)9.9999.9999</span>
              </div>
            </div>


            <div>
              <span><strong>Endereço:</strong></span>
              <span>Avenida Paulista, 1106 6º Andar - <br> Bela Vista - 01313-010 - SP</span>
              <span>100m do Metrô Trianon Masp</span>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
