button {
  width: rem(100);
  height: rem(40);
  border: 0;
  border-bottom: 5px solid color(blue, blue2);
  background-color: color(blue, blue1);
  color: color(gray, gray10);
  text-transform: uppercase;

  &:hover {
    background-color: color(blue, blue2);
  }
}
