footer {
  padding-bottom: space(gg) + space(g);

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: space(m);
  }

  p {
     padding: 0 space(base);
     color: color(gray, gray7);
     font-size: font-size(tiny);

    & + p {
      margin-top: space(m);
    }
  }

  .footer-destaque,
  .rodape-destaque {
    li {
      & + li {
        padding-left: space(m);
        border-left: 1px solid color(gray, gray7);
      }
    }
  }

  .destaque {
    padding-top: space(m);
    background-color: color(gray, gray5);
    height: rem(170);
  }

  .rodape-destaque {
    height: rem(80);
    padding-top: space(g);
    background-color: color(gray, gray6);

    li {
      a {
        color: color(gray, gray8);

        &:hover {
          color: color(gray, gray10);
        }
      }
    }
  }

  .footer-destaque {
    color: color(gray, gray7);
    font-size: font-size(tiny);
  }

  .rodape {
    padding-top: space(g);

    ul {
      margin-bottom: space(xg);
    }

    li {
      height: rem(15);
      margin-top: space(g) + space(p);
      font-weight: 300;

      a {
        color: color(gray, gray13);

        &:hover {
          color: color(gray, gray5);
        }
      }

      img {
        height: rem(70);

        & + img {
          margin-left: space(m);
        }
      }

      &:last-child() {
        margin-top: 0;
        height: rem(70);
      }
    }
  }

  @include responsive(medium) {
    .destaque {
      height: auto;
      padding: {
        top: ((space(g) * 2) + space(p));
        bottom: space(gg) + space(p);
      }

      .wrapper {
        display: flex;
      }

      ul {
        &:first-child {
          width: 70%;
          margin-right: space(g);
        }

        &:last-child {
          width: 30%;
          padding-left: space(xg) + space(p);
          border-left: 1px solid color(gray, gray4);
        }
      }
    }
  }
}
