input,
textarea,
select {
  padding: space(base) space(p);
  border: 1px solid color(gray, gray11);
  border-radius: 4px;
  color: color(blue, blue7);
  font-size: font-size(medium);
}

input:nth-child(1),
select,
textarea {
  width: 100%;
  margin-bottom: space(base);
}

select {
  margin-top: space(base);
}

input:nth-child(2) {
  width: 55%;
}

input:nth-child(3) {
  width: 10%;
  margin-left: space(p);
}

input:nth-child(4) {
  width: 33%;
}

