header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.18);

  h1 {
    float: left;
    padding: space(base);
    padding-bottom: 0;

    ~ div {
      @extend %clearfix;
      float: right;
      display: flex;
      text-align: right;

      div {
        margin-left: space(base);

        button {
          height: 100%;
          width: rem(60);
          border-bottom: 0;
        }
      }

    }
  }

  span {
    display: none;
  }

  img {
    height: rem(40);
  }

  div {

    &.aberto {
      nav {
        display: block;
      }

      button {
        background-color: color(blue, blue3);
      }
    }
  }

  #login {
    float: left;
    margin-top: space(base);
  }

  nav {
    display: none;
    position: absolute;
    right: 0;
    top: space(xg);
    width: 100%;
    background-color: color(blue, blue3);
    text-align: right;
    text-transform: uppercase;

    li {
      & + li {
        margin-top: space(base);
        padding-top: space(base);

        a {
          padding-top: 0;
        }
      }
    }

    a {
      display: block;
      padding: space(base) + space(p);
      color: color(gray, gray10);
    }

    &.nav-desktop {
      display: none;
    }
  }

  @include responsive(medium) {
    header {
      padding-top: space(m);
    }

    h1 {
      padding: {
        top: space(xg);
        right: space(base);
        bottom: 0;
        left: space(base);
      }
    }

    span {
      display: block;
      padding-top: space(base);
      color: color(gray, gray10);
      font-size: font-size(tiny);
      text-transform: uppercase;
    }

    #login {
      display: none;
    }

    .menu-desktop {
      button {
        display: none;
      }

      nav {
        &.nav-desktop {
          display: block;
          top: space(gg);
          background: none;

          li {
            display: inline-block;

            &:nth-child(4) {
              height: rem(40);
              width: rem(100);
              border-bottom: 5px solid color(blue, blue2);
              background-color: color(blue, blue1);
              text-align: center;

              &:hover {
                background-color: color(blue, blue2);
              }
            }

            &:last-child() {
              height: rem(40);
              width: rem(160);
              margin-left: space(base);
              padding-top: space(p) + 2;
              border: 3px solid color(pink);
              text-align: center;

              a {
                color: color(pink);
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }
}
