h2 {
  color: color(blue, blue3);
  text-align: center;
  font-size: font-size(giant);
  font-weight: 900;
}

h3 {
  color: color(blue, blue4);
  font-size: font-size(xxbig);
  font-weight: 700;
}
