@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500i,900');

/// Mapa para configuração de cores
/// @group    Configurações
$colors: (
  blue: (
    blue1: #4192cb,
    blue2: #0e7acb,
    blue3: #3168b8,
    blue4: #509ace,
    blue5: #008cd0,
    blue6: #1388d9,
    blue7: #597088
  ),

  gray: (
    gray1: #eeeeee,
    gray2: #6b6d70,
    gray3: #5d5959,
    gray4: #abb3b9,
    gray5: #404040,
    gray6: #4b4b4b,
    gray7: #8e8a8a,
    gray8: #95969a,
    gray9: #6d7176,
    gray10: #fff,
    gray11: #dee4ea,
    gray12: #595f62,
    gray13: #626060
  ),

  black: (
    base: #000
  ),

  green: (
    green1: #afd71d,
    green2: #9dc41a
  ),

  pink: (
    base: #e63598
  ),

  brown: (
    base: #a39588
  )
) !default;

/// Lista de fontes para fallback
/// @group    Fontes
$font-fallback: Tahoma, Verdana, Segoe, sans-serif !default;

/// Mapa dos tamanhos de fontes utilizadas
/// @group Fontes
$font-sizes: (
  giant: 50px,
  xxxbig: 28px,
  xxbig: 22px,
  xbig: 21px,
  big: 18px,
  base: 16px,
  medium:15px,
  small: 14px,
  smaller: 13px,
  medium-smaller: 12px,
  tiny: 11px

) !default;

/// Mapa dos tamanhos para as media queries
/// @group    Breakpoints
$breakpoints: (
  medium  : 768px,
  big: 1800px
) !default;

/// Mapa dos tamanhos dos espaçamentos
/// @group Spaces

$spaces: (
  p    : 5px,
  base : 10px,
  m    : 20px,
  g    : 30px,
  gg   : 40px,
  xg   : 50px
) !default;

///  Variaveis
///  @group Variaveis
$max-width-default: rem(1145);
$max-width-big: rem(1800)
