<div [ngSwitch]="aba">
  <img class="banner" src="../assets/images/banners/analises.jpg" alt="" *ngSwitchDefault>
  <img class="banner" src="../assets/images/banners/corretora.jpg" alt="" *ngSwitchCase="'Corretora'">
  <img class="banner" src="../assets/images/banners/melhor-mercado.jpg" alt="" *ngSwitchCase="'Mercado'">

</div>

<div class="wrapper">
  <ul>
    <li [class.active]="aba == 'Analise'" (click)="aba = 'Analise'">Análises ao vivo</li>
    <li [class.active]="aba == 'Corretora'" (click)="aba = 'Corretora'">Corretora <br>multiplataforma</li>
    <li [class.active]="aba == 'Mercado'" (click)="aba = 'Mercado'">Os melhores <br>do mercado</li>
  </ul>
</div>
