app-banner {
  display: block;

  img {
    display: block;
  }

  ul {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;

    li {
      display: inline-block;
      width: 40%;
      padding-top: space(gg);
      color: color(gray, gray10);
      text-transform: uppercase;
      text-align: center;

      &:first-child() {
        padding-top: space(xg);
      }

      &:hover{
        color: color(gray, gray3);
      }

      &.active {
        height: rem(80);
        padding-top: space(m);
        border-top: 15px solid color(blue, blue2);
        background-color: color(blue, blue1);
        font-weight: 700;
      }
    }
  }

  @include responsive(medium) {
    ul {
      li {
        height: rem(75);
        width: rem(380);
        padding: space(g) space(m);
        font-size: font-size(xxbig);
        padding-top: space(xg) * 2;

        &:first-child() {
          padding-top: (space(xg) * 2) + space(base);
        }

        &.active {
          height: rem(165);
          padding-top: space(gg);
        }
      }
    }
  }

  @include responsive(big) {
    background-color: color(black);

    div {
      &:first-child() {
        position: relative;
        margin: 0 auto;
        max-width: $max-width-big;
      }
    }
  }
}
