app-contato {
  display: block;
  margin-bottom: (space(g) * 3) + space(p);
  padding: 0 space(gg);

  h2 {
    padding: (space(g) * 3) 0;
  }

  h3 {
    padding-bottom: space(g) + space(p);
    color: color(gray, gray4);
    font-weight: 500;
  }

  button {
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: row;
    margin-bottom: space(g);
    width: 360px;
  }

  li {
    padding: space(base) 0;
    width: 25%;
    border: 1px solid color(gray, gray11);
    text-align: center;

    a {
      color: color(gray, gray12);
      font-weight: 700;
    }

    & + li {
      border-left: 0;
    }

    &:hover,
    &.active {
      background-color: color(blue, blue5);

      a {
        color: color(gray, gray10);
      }
    }

    &:nth-child(1) {
      border: {
        bottom-left-radius: space(p);
        top-left-radius: space(p);
      }
    }

    &:nth-child(4) {
      border: {
        bottom-right-radius: space(p);
        top-right-radius: space(p);
      }
    }

    .form-contato {
      margin-bottom: space(gg);
    }
  }

  @include responsive(medium) {
    .informacoes-contato {
      display: flex;

      > div {
        width: 50%;

        & + div {
          margin-left: space(xg) * 2;
        }
      }

      .form-contato {
        button {
          margin-left: 65%;
          height: rem(65);
          width: rem(175);
        }

        form {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }

        input {
          &:nth-child(3) {
            width: 13%;
          }

          &:nth-child(4) {
            width: 30%;
          }
        }
      }
    }
  }
}

.detalhes-estados {
  h3 {
    color: color(blue, blue6);
  }

  span {
    text-transform: uppercase;
    font-size: font-size(small);
    display: block;
  }

  strong {
    display: inline-block;
  }

  button {
    position: relative;
    border-bottom: none;
    background-color: color(green, green1);
    margin-top: space(g) + space(p);
    padding-left: space(xg);
    width: rem(180);
    height: rem(55);

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: rem(50);
      height: rem(55);
      background-color: color(green, green2);
      background-image: url('assets/images/logos/mensagem.png');
      background-position-x: 13px;
      background-position-y: 17px;
      background-repeat: no-repeat;
    }

    &:hover {
      background-color: color(green, green2);
    }
  }

  div {

    &:nth-of-type(3) {
      width: 100%;

      span {
        display: block;

        &:nth-child(2) {
          font-size: font-size(medium);
          font-weight: 300;
        }

        &:last-child() {
          font-size: font-size(big);
          color: color(blue, blue5);
        }
      }
    }
  }
}

.telefones-contatos {
  display: flex;
  justify-content: space-between;
  margin-bottom: space(m);

  div {
    &:nth-of-type(2) {
      width: 50%;

      span {
        display: block;

        &:nth-child(2n) {
          position: relative;
          padding-left: space(xg);
          margin-top: space(g) + space(p);

          &:before {
            content: '';
            display: block;
            position: absolute;
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            left: 0;
            background-image: url('assets/images/logos/whatsapp.png');
          }

          strong {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}
