app-quem-somos {
  display: block;
  background-color: color(gray, gray1);

  padding-top: space(g) * 3;
  padding-bottom : space(gg) * 3;

  h2 {
    padding-bottom: space(g) * 3;
    text-align: center;
  }

  h3 {
    padding-bottom: space(m);
  }

  h2,
  h3 {
    text-transform: uppercase;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


    li {
      width: 50%;

      & + li {
        margin-top: space(m);
      }
    }
  }

  p {
    font-weight: 300;
    font-size: font-size(medium);
  }

  @include responsive(medium) {
    ul {
     flex-direction: row;

     li {
       margin-top: 0;

       & + li {
         margin-left: space(gg) + space(xg);
       }
     }
    }

    h3 {
      height: rem(70);
    }
  }
}
