app-lista-servicos {
  display: block;
  background-color: color(gray, gray3);
  padding: (space(xg) * 2) 0;

  h2,
  h3 {
    color: color(gray, gray10);
    text-align: center;
    text-transform: uppercase;
  }

  h2 {
    text-align: center;
    padding-bottom: space(xg);
  }

  h3 {
    position: absolute;
    bottom: (space(gg) * 2) + 7;
    background-color: rgba(80,75,75, 0.9);
    width: 100%;
    height: 25%;
    padding-top: space(m);
  }

  p {
    color: color(brown);
    font-size: font-size(base);
    font-weight: 300;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      position: relative;
      width: 50%;
      height: rem(260);

      & + li {
        margin-top: space(m);
      }
    }
  }

  @include responsive(medium) {
    ul {
      flex-direction: row;
      flex-wrap: wrap;

      li {
        margin-top: 0;
        height: auto;
        width: 49%;
        margin-bottom: space(p);

        &:hover {
          p {
            display: block;
            position: absolute;
            text-align: center;
            padding: 0 space(gg);
            bottom: space(gg);
          }

          h3 {
            height: 100%
          }
        }

        &:nth-child(3) {
          margin-left: 0;
        }

        & + li {
          margin: {
            top: 0;
            left: space(p);
          }
        }
      }
    }

    p {
      display: none;
    }

    h3 {
      bottom: 0;
      height: 35%;
    }
  }
}
