<section class="wrapper" id="servicos">
  <h2>Serviços</h2>

  <ul>
    <li *ngFor="let servicos of servicos.servicos">
      <img src="../../assets/images/servicos/{{servicos.imagem}}" alt="">
      <h3>{{servicos.titulo}}</h3>
      <p>{{servicos.texto}}</p>
    </li>
  </ul>
</section>
